*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body{
  height: 100vh;
  width: 100vw;
  /* background-color: rgb(238, 183, 201); */
  /* font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal; */
}


@tailwind base;
@tailwind components;
@tailwind utilities;

